In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
dataset = pd.read_csv(r"Top Indian Places to Visit.csv")
dataset.head(10)

,Unnamed: 0,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit
0,0,Northern,Delhi,Delhi,India Gate,War Memorial,1921,0.5,4.6,0,Yes,NaN,Historical,Yes,2.60,Evening
1,1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,1572,2.0,4.5,30,Yes,NaN,Historical,Yes,0.40,Afternoon
2,2,Northern,Delhi,Delhi,Akshardham Temple,Temple,2005,5.0,4.6,60,Yes,NaN,Religious,No,0.40,Afternoon
3,3,Northern,Delhi,Delhi,Waste to Wonder Park,Theme Park,2019,2.0,4.1,50,Yes,Monday,Environmental,Yes,0.27,Evening
4,4,Northern,Delhi,Delhi,Jantar Mantar,Observatory,1724,2.0,4.2,15,Yes,NaN,Scientific,Yes,0.31,Morning
5,5,Northern,Delhi,Delhi,Chandni Chowk,Market,1700,3.0,4.2,0,Yes,Sunday,Market,Yes,0.25,Afternoon
6,6,Northern,Delhi,Delhi,Lotus Temple,Temple,1986,1.0,4.5,0,Yes,Monday,Religious,Yes,0.59,Evening
7,7,Northern,Delhi,Delhi,Red Fort,Fort,1648,2.0,4.5,35,Yes,NaN,Historical,Yes,1.50,Afternoon
8,8,Northern,Delhi,Delhi,Agrasen ki Baoli,Stepwell,1400,1.0,4.2,0,Yes,NaN,Historical,Yes,0.41,Afternoon
9,9,Northern,Delhi,Delhi,Sunder Nursery,Park,1600,2.0,4.6,0,Yes,NaN,Botanical,Yes,0.16,Afternoon

In [4]:
dataset.isnull().sum()

Unnamed: 0                            0
Zone                                  0
State                                 0
City                                  0
Name                                  0
Type                                  0
Establishment Year                    0
time needed to visit in hrs           0
Google review rating                  0
Entrance Fee in INR                   0
Airport with 50km Radius              0
Weekly Off                          293
Significance                          0
DSLR Allowed                          0
Number of google review in lakhs      0
Best Time to visit                    0
dtype: int64

In [6]:
(dataset.isnull().sum()/dataset.shape[0])*100

Unnamed: 0                           0.000000
Zone                                 0.000000
State                                0.000000
City                                 0.000000
Name                                 0.000000
Type                                 0.000000
Establishment Year                   0.000000
time needed to visit in hrs          0.000000
Google review rating                 0.000000
Entrance Fee in INR                  0.000000
Airport with 50km Radius             0.000000
Weekly Off                          90.153846
Significance                         0.000000
DSLR Allowed                         0.000000
Number of google review in lakhs     0.000000
Best Time to visit                   0.000000
dtype: float64

In [16]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 15 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Zone                              325 non-null    object
 1   State                             325 non-null    object
 2   City                              325 non-null    object
 3   Name                              325 non-null    object
 4   Type                              325 non-null    object
 5   Establishment Year                325 non-null    object
 6   time needed to visit in hrs       325 non-null    float64
 7   Google review rating              325 non-null    float64
 8   Entrance Fee in INR               325 non-null    int64
 9   Airport with 50km Radius          325 non-null    object
 10  Weekly Off                        325 non-null    object
 11  Significance                      325 non-null    object
 12  DSLR Allowed                      325 non-null    object
 13  Number of google review in lakhs  325 non-null    float64
 14  Best Time to visit                325 non-null    object
dtypes: float64(3), int64(1), object(11)
memory usage: 38.2+ KB

In [17]:
dataset.describe()

,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Number of google review in lakhs
count,325.000000,325.000000,325.000000,325.000000
mean,1.807692,4.486154,115.809231,0.408438
std,0.971398,0.274580,530.859785,0.646668
min,0.500000,1.400000,0.000000,0.010000
25%,1.000000,4.400000,0.000000,0.059000
50%,1.500000,4.500000,0.000000,0.170000
75%,2.000000,4.600000,40.000000,0.500000
max,7.000000,4.900000,7500.000000,7.400000

In [18]:
dataset.shape

(325, 15)

In [9]:
dataset.drop(columns='Unnamed: 0', inplace=True)

In [14]:
dataset['Weekly Off']=dataset['Weekly Off'].fillna(value='No Weekly off')

In [15]:
dataset.isnull().sum()

Zone                                0
State                               0
City                                0
Name                                0
Type                                0
Establishment Year                  0
time needed to visit in hrs         0
Google review rating                0
Entrance Fee in INR                 0
Airport with 50km Radius            0
Weekly Off                          0
Significance                        0
DSLR Allowed                        0
Number of google review in lakhs    0
Best Time to visit                  0
dtype: int64

In [21]:
source_city = input("Enter Source City: ").strip()

In [23]:
df_filtered = dataset[dataset["City"].str.lower() != source_city.lower()]

In [24]:
df_filtered = df_filtered[
    df_filtered["time needed to visit in hrs"] <= 48
]

In [25]:
def min_max(series):
    return (series - series.min()) / (series.max() - series.min())

In [26]:
df_filtered["rating_norm"] = min_max(df_filtered["Google review rating"])
df_filtered["popularity_norm"] = min_max(df_filtered["Number of google review in lakhs"])
df_filtered["fee_norm"] = min_max(df_filtered["Entrance Fee in INR"])

In [27]:
df_filtered["airport_score"] = df_filtered["Airport with 50km Radius"].map({
    "Yes": 1,
    "No": 0
})

In [28]:
df_filtered["dslr_score"] = df_filtered["DSLR Allowed"].map({
    "Yes": 1,
    "No": 0
})

In [29]:
df_filtered["final_score"] = (
    0.4 * df_filtered["rating_norm"] +
    0.3 * df_filtered["popularity_norm"] +
    0.2 * df_filtered["airport_score"] +
    0.1 * (1 - df_filtered["fee_norm"])
)

In [30]:
ranked_df = df_filtered.sort_values(
    by="final_score",
    ascending=False
)

In [31]:
top_5 = ranked_df.head(5)

top_5[[
    "Name",
    "City",
    "State",
    "Type",
    "Google review rating",
    "Number of google review in lakhs",
    "time needed to visit in hrs",
    "final_score"
]]

,Name,City,State,Type,Google review rating,Number of google review in lakhs,time needed to visit in hrs,final_score
315,Buddh International Circuit,Greater Noida,Uttar Pradesh,Race Track,4.6,7.4,2.0,0.945714
17,Gateway of India,Mumbai,Maharastra,Monument,4.6,3.6,1.0,0.811452
92,Golden Temple (Harmandir Sahib),Amritsar,Punjab,Religious Site,4.9,1.9,1.5,0.776725
0,India Gate,Delhi,Delhi,War Memorial,4.6,2.6,0.5,0.770856
111,Mysore Palace,Mysore,Karnataka,Palace,4.6,2.5,2.0,0.766130

In [32]:
def weekend_getaway_ranker(
    df,
    source_city,
    top_n=5,
    max_hours=48
):
    """
    Returns top weekend destinations for a given source city.
    """

    # 1️⃣ Remove same city
    data = df[df["City"].str.lower() != source_city.lower()].copy()

    # 2️⃣ Weekend feasibility filter
    data = data[data["time needed to visit in hrs"] <= max_hours]

    # 3️⃣ Normalize ranking features
    data["rating_norm"] = min_max(data["Google review rating"])
    data["popularity_norm"] = min_max(data["Number of google review in lakhs"])
    data["fee_norm"] = min_max(data["Entrance Fee in INR"])

    # 4️⃣ Convert categorical to numeric
    data["airport_score"] = data["Airport with 50km Radius"].map({
        "Yes": 1,
        "No": 0
    })

    # 5️⃣ Final weighted score
    data["final_score"] = (
        0.4 * data["rating_norm"] +
        0.3 * data["popularity_norm"] +
        0.2 * data["airport_score"] +
        0.1 * (1 - data["fee_norm"])
    )

    # 6️⃣ Rank destinations
    ranked = data.sort_values("final_score", ascending=False)

    # 7️⃣ Return top N results
    return ranked[[
        "Name",
        "City",
        "State",
        "Type",
        "Google review rating",
        "Number of google review in lakhs",
        "time needed to visit in hrs",
        "final_score"
    ]].head(top_n)

In [33]:
weekend_getaway_ranker(dataset, "Kolkata", top_n=5)

,Name,City,State,Type,Google review rating,Number of google review in lakhs,time needed to visit in hrs,final_score
315,Buddh International Circuit,Greater Noida,Uttar Pradesh,Race Track,4.6,7.4,2.0,0.945714
17,Gateway of India,Mumbai,Maharastra,Monument,4.6,3.6,1.0,0.811452
92,Golden Temple (Harmandir Sahib),Amritsar,Punjab,Religious Site,4.9,1.9,1.5,0.776725
0,India Gate,Delhi,Delhi,War Memorial,4.6,2.6,0.5,0.770856
111,Mysore Palace,Mysore,Karnataka,Palace,4.6,2.5,2.0,0.766130

In [34]:
weekend_getaway_ranker(dataset, "Delhi", top_n=5)

,Name,City,State,Type,Google review rating,Number of google review in lakhs,time needed to visit in hrs,final_score
315,Buddh International Circuit,Greater Noida,Uttar Pradesh,Race Track,4.6,7.40,2.0,0.945714
17,Gateway of India,Mumbai,Maharastra,Monument,4.6,3.60,1.0,0.811452
92,Golden Temple (Harmandir Sahib),Amritsar,Punjab,Religious Site,4.9,1.90,1.5,0.776725
111,Mysore Palace,Mysore,Karnataka,Palace,4.6,2.50,2.0,0.766130
181,Taj Mahal,Agra,Uttar Pradesh,Mausoleum,4.6,2.25,2.0,0.755981

In [35]:
weekend_getaway_ranker(dataset, "Mumbai", top_n=5)

,Name,City,State,Type,Google review rating,Number of google review in lakhs,time needed to visit in hrs,final_score
315,Buddh International Circuit,Greater Noida,Uttar Pradesh,Race Track,4.6,7.40,2.0,0.945714
92,Golden Temple (Harmandir Sahib),Amritsar,Punjab,Religious Site,4.9,1.90,1.5,0.776725
0,India Gate,Delhi,Delhi,War Memorial,4.6,2.60,0.5,0.770856
111,Mysore Palace,Mysore,Karnataka,Palace,4.6,2.50,2.0,0.766130
181,Taj Mahal,Agra,Uttar Pradesh,Mausoleum,4.6,2.25,2.0,0.755981

In [36]:
weekend_getaway_ranker(dataset, "Bengaluru", top_n=3, max_hours=36)

,Name,City,State,Type,Google review rating,Number of google review in lakhs,time needed to visit in hrs,final_score
315,Buddh International Circuit,Greater Noida,Uttar Pradesh,Race Track,4.6,7.4,2.0,0.945714
17,Gateway of India,Mumbai,Maharastra,Monument,4.6,3.6,1.0,0.811452
92,Golden Temple (Harmandir Sahib),Amritsar,Punjab,Religious Site,4.9,1.9,1.5,0.776725